.mainContent {
    background-color: none;     /* Change background color to see positioning */

    position: relative;
    top: 45px;
}

.myCounter {
    line-height: 1.5;   /* This increases line height to compensate for the letters glitching in Safari */
}

.button1 {
    width: 100%;
    height: 40px;

    border-color: transparent;  /* Make sure to use "transparent", "none" will not work because it is not a color.
                                    We are setting the border-color to transparent to fix button glitching in Safari */
    border-radius: 5px;
    margin: 3px;

    background-color: #00af4e;    /* Same color as bootstrap bg-success */
    color: white;
    font-size: 20px;
    text-align: center;

    cursor: pointer;
}

.button1:hover {
    background-color: black;
}

.button1:focus {
    outline-color: orange;
}

.textCenter {
    text-align: center;
}